html{
	background-color: rgb(255, 231, 243);
	font-family:monospace;
	margin-top: 2rem;
}

.main_content{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

}

.menu-object{
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
	height: 5rem;
	font-size: 1.5rem;
	margin-top: 1rem;
	grid-column: 2 / 3;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#cartes{
	display: flex;
	justify-content: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#title{
	font-size: 2rem;
	line-height: 5rem;
}

p{
	text-align: center;
}

button{
background-color:hotpink;
color: white;
}

button.menu-object:active{
	font-size: 1rem;
	width: 17rem;
	height: 4rem;
	background-color: rgb(255, 32, 144);
}

button.menu-object:hover:not(:active){
	font-size: 1rem;
	width: 20rem;
	height: 5rem;
	background-color: rgb(255, 166, 210);
}
