html{
	background-color: rgb(255, 231, 243);
	font-family:monospace;
	margin-top: 20px;
}

.main_content{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

}

.menu-object{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	grid-column: 2 / 3;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#cartes{
	display: flex;
	justify-content: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

button{
	background-color:hotpink;
	color: white;
}
	
button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
	background-color: rgb(255, 32, 144);
	}
	
button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
	background-color: rgb(255, 166, 210);
}
	
input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	font-size: 26px;
	line-height: 75px;
}

p{
	text-align: center;
}

